<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Поставщик -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- Строка подключения -->
    <add key="conStr" value="Data Source=(local)\SQLEXPRESS;
         Initial Catalog=Railway;
         Integrated Security=True;
         Pooling=False"/>
  </appSettings>
  <connectionStrings>
    <add name="RailwayEntities" connectionString="metadata=res://*/ModelTrains.csdl|res://*/ModelTrains.ssdl|res://*/ModelTrains.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;initial catalog=Railway;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>